{% extends "layout.html" %}
{% block head %}
<script type="text/javascript" charset="utf-8" src="/static/assets/scripts/app.js"></script>
<script>

$(function () {
	App.init();
    tabs = new jqTabs($("#tabs")).seek(2);
});

</script>
{% endblock %}
{% block body %}
<div id='app'><div id='map'>This website reqiures a modern browser (for example Firefox) with Javascript enabled, and your doesn't seem to be running one. How about upgarding?</div></div>
<div id='navigation' >
    <div id='logo'><img src='/static/assets/images/header.png'/></div>
    <div id='tabs'>
        <ul class="tab-headers">
            <li id="link-about"><a href="#tab-about">About</a></li>
            <li id="link-contribute"><a href="#tab-app">Add Cameras</a></li>
            <li id="link-home" ><a href="#tab-home"><img alt="Home" src="/static/assets/images/home-icon.png" /></a></li>
        </ul>
        <div class="tab-content">
            <div class='tab' id="tab-about">
                <h3>Big Brother is watching. Watch back!</h3>
                <div>There are more than 250,000 CCTV cameras in London,
                at least 70 of them see you every day.
                They are everywhere, but no one knows where exactly.
                <strong>londoneyes.org</strong> is a map of CCTV cameras in London created by people. 
                You can contribute to it using a smartphone with a camera and a GPS.</div>
                <div>Browse the map or click on the <strong>Add Cameras</strong> tab to downlod the App and start adding cameras yourself.</div>
                <h3>Contact</h3>
                <div>Get in touch via Twitter at <a target='_blank' href='http://twitter.com/ldneyes'>@ldneyes</a> or email <a href='mailto:info@londoneyes.org'>info@londoneyes.org</a>.</div>
            </div>
            <div class='tab' id="tab-contribute">
                <h3>Get the App</h3>
                <div>Cameras are added to the map using a smartphone app. Anyone with an Android phone with a camera and a GPS can help build the map.  Click on the button below to install the app on your phone.</div>
                <div><a href="https://play.google.com/store/apps/details?id=cc.tv">
                  <img alt="Get it on Google Play"
                        src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
                </a></div>               
                <h3>Using the app</h3>
                <div>It's very simple. Make sure the GPS is turned on and a data connection
                is available. Launch the app, wait until it gets your location* and
                the Start button appears, tap it, take a picture, wait for the upload,
                and you're done.</div>
                <div>*It may take some time before the GPS returns a good enough reading of
                location. The row of lighting up dots shows how it's doing. You need
                at least a yellow dot to start, but it's best to wait for at least one
                green.</div>
            </div>
            <div class='tab' id="tab-home"></div>
        </div>
    </div>
</div>
{% endblock %}