<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>londoneyes.org</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/static/assets/scripts/leaflet/leaflet.css" />
	<link rel="stylesheet" href="/static/assets/css/style.css">
	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="/assets/scripts/leaflet/leaflet.ie.css" />
	<![endif]-->
	<script type="text/javascript" charset="utf-8" src="/static/assets/scripts/leaflet/leaflet.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/assets/scripts/zepto.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/assets/scripts/underscore.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/assets/scripts/backbone.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/assets/scripts/jqTabs.js"></script>
	{% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.strikenow.org.uk/" : "http://stats.strikenow.org.uk/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.strikenow.org.uk/piwik.php?idsite=4" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</html>

