{% extends "layout.html" %}
{% block body %}
    <h2>Create Spot</h2>
    <div id='app'>
		<div role="main">
				<div id="map">map</div>
		</div>
	    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	    {% from "_formhelpers.html" import render_field %}
	    <form action="" method="post" enctype="multipart/form-data" >
	    {% for field in form %}
	        {{ render_field(field) }}
	    {% endfor %}
	    <input type="submit" name="submit" value="Create" />
	    </form>
	</div>
	<script>
		require.config({
			baseUrl: '/static/assets/scripts',
		    paths : {
		        leaflet: 'leaflet/leaflet'
		    }
		});

		require(['domReady', 'leaflet', 'zepto', 'underscore', 'backbone',  'app'], function(domReady) {
			domReady(function () {
				App.init();
				App.spots.create();
		    });
		});
	</script>
{% endblock %}
