@main-text-colour: #e0e0ff;
@header-background-colour: #681820;
@main-background-colour: #181020;
@button-colour: #303080;

/* font */

@font-face {
    font-family: 'junction_regularregular';
    src: url('/static/assets/fonts/Junction-webfont.eot');
    src: url('/static/assets/fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/fonts/Junction-webfont.woff') format('woff'),
         url('/static/assets/fonts/Junction-webfont.ttf') format('truetype'),
         url('/static/assets/fonts/Junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: @main-text-colour; }
a:visited { color: @main-text-colour; }
a:hover { color: @main-text-colour; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/** boilerplate end */

html, body, #app, #map { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'junction_regularregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.hidden {
    display: none;
}

img.popup-image {
  width: 300px;
}

#navigation {
  position: absolute;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  color: @main-text-colour;
  background: @header-background-colour;
}

#logo  {
  height: 60px;
  position: absolute;
  img {
     width: 240px;
  }
}

#tabs {
  position: absolute;
  top: 0;
  right: 0;
  ul.tab-headers {
    background: @header-background-colour;
    position: absolute;
    width: 320px;
    right: 0;
    height: 60px;
    margin: 0;
    padding: 0;
    li {
      display: block;
      width: 100%;
      list-style: none outside none;
      float: left;
      a {
        color: @main-text-colour;
        display: block;
        height: 40px;
        text-decoration: none;
        text-align: center;
        border-bottom: 5px solid @header-background-colour;
      }
    }
    li a:hover, li.active a {
        color: @main-text-colour;
        text-decoration: none;
        border-bottom: 5px solid @main-text-colour;
    }

    #link-about, #link-contribute {
      width: 40%;
      a {
        padding: 15px 10% 0 10%;
        width: 80%;
      }
    }

    #link-home {
      width: 20%;
      a {
        padding: 15px 20% 0 20%;
        width: 60%;
      }
    
      img {
        height:25px;
      }
    }
  }
  .tab-content {
    background: @main-background-colour;
    margin-top: 60px;
    width: 100%;
    .tab {
      div, h3 {
        padding: 10px 10px 10px 10px;
      }
      h3 {
        margin: 0;
      }
    }
  }
}

.action-button {
  display: inline-block;
  color: @main-text-colour;
  background: @button-colour;
  padding: 0.5em 2em 0.5em 2em;
  text-decoration: none;
}

.photo-popup {
  .leaflet-popup-content-wrapper {
    border-radius: 0;
    .leaflet-popup-content {
      margin: 14px;
    }
  }

  a.leaflet-popup-close-button {
    padding: 0;
  }

  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: @main-background-colour;
  }
}


@media only screen and (max-device-width: 640px) {

  #navigation {
    width: 100%;
    z-index: 10000;
  }

  #logo  {
    width: 100%;
    height: auto;
    position: static;
    img {
        width: 100%;
    }
  }

  #tabs {
    position: static;
    width: 100%;
    ul.tab-headers {
      width: 100%;
      position: static;
      margin: 0;
    }
    .tab-content {
      width: 100%;
      position: static;
      margin: 0;
    }
  }
}

